<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON-FORMATTER-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd HH:mm:ss</timestampFormat>
        </layout>

    </appender>


    <appender name="JSON-STASH-FORMATTER-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <file>/var/log/ns/product.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/some/path/to/your/file.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <message>${HOSTNAME} - [${timestamp}] "${requestUrl}" ${statusCode} ${contentLength}
                </message>
                <arguments/>
                <!--<timestamp>-->
                    <!--<pattern>yyyy-MM-dd HH:mm:ss</pattern>-->
                <!--</timestamp>-->
            </providers>
        </encoder>
    </appender>

    <!--<appender name="JSON-STASH-FORMATTER-FILE" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>/var/log/ns/product.log</file>-->
        <!--<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
                <!--&lt;!&ndash;<jsonGeneratorDecorator class="br.com.appday.logback.JsonGeneratorDecoratorConfig"/>&ndash;&gt;-->
            <!--<providers>-->
                <!--<arguments/>-->
                <!--<timestamp>-->
                    <!--<pattern>yyyy-MM-dd HH:mm:ss</pattern>-->
                <!--</timestamp>-->
                <!--<nestedField>-->
                    <!--<fieldName>@fields</fieldName>-->
                    <!--<providers>-->
                        <!--<logLevel/>-->
                    <!--</providers>-->
                <!--</nestedField>-->
            <!--</providers>-->
        <!--</encoder>-->
    <!--</appender>-->

    <logger name="br.com.appday" level="DEBUG">
        <appender-ref ref="JSON-FORMATTER-STDOUT" />
        <appender-ref ref="JSON-STASH-FORMATTER-FILE" />
    </logger>

    <!-- Setting the root level of logging to INFO -->
    <root level="INFO">
        <appender-ref ref="JSON-STASH-FORMATTER-FILE" />
    </root>


</configuration>